<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" th:href="@{css/bootstrap.css}"/>
    <title>Add New Tennis Player</title>
</head>
<body>
<h1>Add New Player</h1>
<div>
    <form th:object="${player}" th:action="@{save}" action="#" method="post">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" th:field="*{firstName}"/>
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" th:field="*{lastName}"/>
        </div>
        <div>
            <label for="surface">Surface</label>
            <input type="text" id="surface" th:field="*{surface}"/>
        </div>
        <div>
            <label for="points">Points</label>
            <input type="text" id="points" th:field="*{points}"/>
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Save"/>
        </div>
    </form>
    <a class="btn btn-info" href="playerslist.html">Show Tennis Players Table</a>
</div>
</body>
</html>