<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" th:href="@{css/bootstrap.css}"/>
    <title>Tennis players</title>
</head>
<body>
<div class="col-md-4">
    <h1>Tennis players list</h1>
</div>
<div class="col-md-4">
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
</div>
<div class="col-md-4" style="padding: 20px 0">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign out" class="btn btn-danger"/>
    </form>
</div>

<table class="table table-striped">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Surface</th>
        <th>Points</th>

    </tr>
    <tr th:each="player: ${playerlist}">
        <td th:text="${player.firstName}"></td>
        <td th:text="${player.lastName}"></td>
        <td th:text="${player.surface}"></td>
        <td th:text="${player.points}"></td>
        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${player.id})}">Delete</a></td>
        <td sec:authorize="hasAuthority('ADMIN')">><a th:href="@{/edit/{id} (id=${player.id})}">Edit</a></td>
        <td sec:authorize="hasAuthority('USER')"><a th:href="@{/edit/{id} (id=${player.id})}">Edit</a></td>
    </tr>


</table>
<div>
    <a class="btn btn-info" href="addplayer.html">Add Player</a>
</div>
</body>
</html>